/* styles.css */
*{
    background-color: burlywood;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

#love-story, #event-schedule, #rsvp, #gift-registry {
    margin: 20px 0;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
